%btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  user-select: none;
}

%button-slider {
  margin-top: 21px;

  .btn {
    @extend %btn;

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &.primary .btn {
    @extend %button-shadow;

    background-color: #fa3c37;
    border-color: #f9241e;
    color: $white;
    border-bottom-color: #c60a05;
    text-shadow: none;
  }

  &.secondary .btn {
    @extend %button-shadow;

    color: $dark-gray;
    text-shadow: none;
    border: 1px solid $dark-gray;

    @include media-breakpoint-down(sm) {
      color: $white;
      border-color: $white;
    }
  }

  &.primary .btn:hover {
    background-color: #fb6d69;
    border-color: #c60a05;
    color: $white;
  }

  &.secondary .btn:hover {
    color: $dark-gray;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgb(255, 255, 255);
  }
}
