/** slider */
.swiper-container {
  margin-bottom: 100px;
  height: 570px;

  .swiper-slide {
    background-color: #d5d5d5;
    background-size: cover;
    background-position: 50% 50%;
    padding: 80px 0 70px;

    @include media-breakpoint-down(sm) {
      background-color: #838d8f !important;
      background-blend-mode: multiply;
      color: $white;
      padding: 40px 0 70px;
    }

    .splash-content {
      width: 33.333%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 0 20px;
      }

      .button {
        @extend %button-slider;
      }

      & h1 {
        margin-bottom: 21px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 42px;
        font-family: "Oswald", sans-serif;

        @include media-breakpoint-down(sm) {
          color: $white;
        }
      }

      .content {
        @include media-breakpoint-down(sm) {
          color: $white;
        }
      }

      & .splash-divider {
        background-color: #fa3c37;
        height: 3px;
        width: 58px;
        margin: -10.5px 0 21px;
      }
    }

    &.dark .splash-content {
      .button.secondary .btn {
        color: $white;
        border-color: $white;
      }

      .content {
        color: $white;
      }

      h1 {
        color: $white;
      }
    }
  }

  .swiper-button-next {
    background-image: url("../../images/VTSL-slider-arrow-right-1x.png");
    right: 20px;
  }

  .swiper-button-prev {
    background-image: url("../../images/VTSL-slider-arrow-left-1x.png");
    left: 20px;
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    height: 56px;
    width: 56px;
    position: absolute;
    top: 43%;
    z-index: 2;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    opacity: 0.7;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .swiper-pagination {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    z-index: 2;
    margin-bottom: 0;
    line-height: 0;
    padding: 0;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    .swiper-pagination-bullet {
      margin: 0 5px;
      border: 1.5px solid $white;
      border-radius: 50%;
      opacity: 1;
      height: 10px;
      width: 10px;
      background-color: transparent;
      color: transparent;
      font-size: 0;
      line-height: 0;
      padding: 0;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;

      &-active {
        background-color: $white;
      }
    }
  }
}
