/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** colors */
$white: #fff;
$dark-gray: #3b3d40;

/** other */
%button-shadow {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
